@import './variables';

.banner-big-text {
    font-size: 8vw;
    text-transform: uppercase;
    letter-spacing: 4.1vw;
    font-weight: 900;
    color: $white;
    position: relative;
    width: 100%;
    left: 0;
    top: 20%;
    text-align: center;
    mix-blend-mode: difference;
    z-index: 9;
}

.banner-small-text {
    font-size: 2.1vw;
    text-transform: uppercase;
    letter-spacing: 2.1vw;
    font-weight: 300;
    color: $white;
    position: relative;
    width: 100%;
    top: 30%;
    text-align: center;
    mix-blend-mode: difference;
}