.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--color-black);
    padding: 5rem 0;
    margin-top: 5rem;
    text-align: center;
}

.footer-social {
    margin-bottom: 3rem;
}

.footer-social .social-icon {
    margin: 0 .5rem;
}